AUTH0_DOMAIN=dev-iz60ngd4p8tr0cql.us.auth0.com
AUTH0_AUDIENCE=https://twitter-monolith-api
AUTH0_CLIENT_ID=your-spa-client-id
AUTH0_LOCAL_MODE=true
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5433/twitterdb
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=secret
SERVER_PORT=8081